
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkodHMftujzkKGKdJ_edh2ghtvCl8SpgQ9_A&usqp=CAU);
    background-repeat: repeat;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}